services:
  evmos:
    image: tharsishq/evmos:v18.1.0
    container_name: evmbridge-evmos
    ports:
      - "26657:26657"
      - "1317:1317"
      - "8545:8545"
      - "8546:8546"
    volumes:
      - ./data:/home/evmos/.evmosd
      - ./init-evmos.sh:/init-evmos.sh
    entrypoint: ["/bin/sh", "/init-evmos.sh"]
    restart: unless-stopped

networks:
  evmbridge-network:
    driver: bridge
